<p id="notice"><%= notice %></p>

<p>
  <strong>Откуда:</strong>
  <%= @delivery.from %>
</p>

<p>
  <strong>Куда:</strong>
  <%= @delivery.where %>
</p>

<p>
  <strong>Длина:</strong>
  <%= @delivery.length %>
</p>

<p>
  <strong>Ширина:</strong>
  <%= @delivery.width %>
</p>

<p>
  <strong>Высота:</strong>
  <%= @delivery.height %>
</p>

<p>
  <strong>Общий вес:</strong>
  <%= @delivery.common_volume %>
</p>

<p>
  <strong>Общий объем:</strong>
  <%= @delivery.common_weight %>
</p>

<p>
  <strong>Расстояние:</strong>
  <%= @delivery.distance %>
</p>

<p>
  <strong>Стоимость:</strong>
  <%= @delivery.calculation %>
</p>

<%= link_to 'Редактировать', edit_delivery_path(@delivery) %> |
<%= link_to 'Список', deliveries_path %>
